@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");

:root {
  --background-color-dark: rgba(19, 20, 21, 1);
  --background-color-white: rgba(251, 251, 251, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-black: rgb(51, 50, 50);

  --text-white: rgba(255, 255, 255, 1);
  --text-color: var(--text-black);
  --primary-color: rgba(255, 87, 51, 1);
  --secondary-color: rgba(144, 12, 63, 1);
  --primary-button: rgba(255, 3, 62, 0.8);
  --secondary-button: rgba(77, 112, 230, 0.8);
  --background-color: var(--background-color-white);

  --primary: rgba(255, 87, 51, 1);
  --secondary: rgb(61, 61, 107, 1);
  --tertiary: rgb(173, 212, 92, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--text-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.rubik {
    font-family: "Rubik", sans-serif;
}

.nunito {
    font-family: "Nunito", sans-serif;
}

.calistoga {
    font-family: "Calistoga", sans-serif;
}

html {
  line-height: 1.5;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.container-fluid {
  width: 100%;
}

/* NAVBAR */
.navbar {
  padding: 3rem 0;
  z-index: 3;
  background-color: var(--primary-color);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-weight: bold;
  padding: 0.5rem 0.5rem 0.5rem 0;
  color: var(--text-white);
}

.navbar__links {
  list-style: none;
  padding: 0;
  align-items: center;
  display: none;
}

.navbar__links-item {
  padding: 0 1rem;
}

.navbar__links-item:last-child {
  padding-right: 0;
}

.navbar__links-item a {
  position: relative;
  color: var(--text-white);
}

.navbar__links-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--text-white);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out 0s;
}

.navbar__links-item a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* HAMBURGER MENU */
.navbar__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

.navbar__hamburger-line {
  width: 100%;
  height: 2px;
  background-color: var(--text-white);
  margin-bottom: 4px;
  transition: transform 0.3s ease-in-out 0s;
}

.navbar__hamburger--active .navbar__hamburger-line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.navbar__hamburger--active .navbar__hamburger-line:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger--active .navbar__hamburger-line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.section-1{
    background-color: var(--primary-color);
}

/* MOBILE MENU */
.mobile__menu {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 2;
  transition: left 0.3s ease-in-out 0s;
}

.mobile__menu--active {
  left: 0;
}

.mobile__nav {
  margin: 1rem 0;
}

.mobile__links {
  list-style: none;
  padding: 0;
  align-items: center;
}

.mobile__links-item {
  padding: 1rem 0;
}

.mobile__links-item:hover {
  background-color: var(--secondary-color);
}

.mobile__links-item:hover a {
  color: var(--text-white);
}

.text-align {
  text-align: center;
}

@media (min-width: 768px) {
    /* NAVBAR */
    .navbar__links {
        display: flex;
    }

    /* HAMBURGER MENU */
    .navbar__hamburger {
        display: none;
    }

    /* MOBILE MENU */
    .mobile__menu {
        visibility: visible;
        transform: translateX(-100%);
    }

    /* MODIFIER CLASS */
    .text-align {
        text-align: left;
    }
}


/* CUSTOM STYLINGS */
.section-1, .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--primary);
    text-shadow: 0 2px #000;
    text-transform: uppercase;
    border-bottom: 1px solid var(--primary);
}

.height-100{
    height:100vh;
}

.section-1 img {
    width:80%;
    float:left;
}

.main-intro {
    padding:50px 20px 50px 150px;
    margin: auto !important;
    border-radius: 50px;
    color: var(--text-white);
    font-weight: bold;
    text-shadow: 1px 1px #000;
    font-size: 20px;
}

.emphasize {
    color: var(--secondary);
    font-weight: bolder !important;
    text-transform: uppercase;
    text-shadow: 0 1px #FFF;
    line-height: 1;
}

.main-intro .emphasize {
    font-size: 40px;
}

.button {
    background-color: var(--tertiary);
    padding:5px 20px;
    font-size:15px;
    text-shadow: none;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid #ffffff;
    box-shadow: 0 5px 15px 0 rgba(62, 61, 61, 0.5);
}

/* About me section */
#about{
    padding:20px 100px;
}

#about img {
    width:20%;
    float:left;
    margin:5px;
    margin-right:30px;
    text-shadow: 1px 1px var(--secondary) !important;
    border-radius: 50%;
}

.text{
    display: block;
    text-align: justify !important;
    text-indent: 3em;
}

@media (max-width: 1024px) {
    .main-intro, .main-intro .emphasize {
        font-size: 20px;
        padding:0 !important
    }
}
@media (max-width: 425px) {
    .section-1 {
        display: block;
    }

    .w3-container.section-1, 
    .w3-container {
        padding:0 !important;
        text-align: center !important;
        width:100% !important;
    }

    .section-1 .w3-third {
        width:100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-intro {
        padding:0 10px !important;
    }

    .section-1 img {
        margin-top:50px !important;
    }

    .main-intro, .main-intro .emphasize {
        padding:0;
        font-size:15px !important;
    }

    .navbar {
        padding: 1rem 0;
    }

    #about{
        padding:10px 30px;
    }

    #about img {
        width:100%;
        border-radius: 50% !important;
        border:1px solid var(--secondary);
        margin-bottom: 10px;
    }

    .title{
        font-size: 30px;
        line-height: 2;
    }
}